html,
body {
  height: 100dvh;
  width: 100dvw;
}

body {
  overflow-x: hidden;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

div.wrapper div#body {
  flex: 1;
}

header {
  padding-top: 4rem;
  margin-bottom: 4rem;
}

header > div {
  height: 100%;
  padding-bottom: 1rem !important;
}

header div#title {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -2px;
}

header div#subtitle {
  font-size: 1.8rem;
  margin-bottom: -0.6rem;
}
